
@{
    ViewBag.Title = "CerrarSession";
    Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
}

<h2>Cerrar Session</h2>
<div class="container">
    <div class="row">

        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="pull-right">
                            <div  id="myBtnContainer" class="btn-group" style="margin: auto; display: flex; flex-direction: row; justify-content: center;">
                            
                                <button type="button" class="btn btn-danger"  data-target="Cerrar Session"  center;>Cerrar Session</button>
   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>


