@model IEnumerable<Model.DataModel.Menu>

@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
}

<h2 style="text-align:center;">Factura: XXX1010</h2>




       

       
      
        