@model IEnumerable<OasisFamiliarWebSite.Models.FacturasPendientesVM>

@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
}

<h2>Historial</h2>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<table class="table table-bordered border border-success ">
    .
    <thead class="thead-dark">
        <tr>

            <th scope="col">Mesa</th>
            <th scope="col">Factura</th>

            <th scope="col">Usuario</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {



  

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.idMesa)</td>
                    <td>@Html.DisplayFor(modelItem => item.idFactura)</td>

                    <td>@Html.DisplayFor(modelItem => item.usuario)</td>
                    <td>@Html.DisplayFor(modelItem => item.total)</td>
                </tr>







            }
    </tbody>

</table>

<!--Codigo para tomar valor de la tabla-->

<script>

    $(document).on("click", '.edit_button', function (e) {
        var id = $(this).data('id');
        var fac = $(this).data('factura');

        console.log(id);
        $(".edit_id").val(id);
        console.log(fac);
        $(".factura_id").val(fac);


        $(".modal-title").val("Crear Factura para Mesa" + id);
    });


</script>
