
@{
    ViewBag.Title = "VerFacturaPendientes";
    Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
}


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">

        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                       

                        <div class="table-container">
                            
                                <tbody>
                                   
                                    <tr data-status="pendiente">
                                        <td>
                                            Factura Pendiente
                                        </td>

                                    </tr>
                                                                 
                                </tbody>
                            
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<script>
    $(document).ready(function () {

        $('.star').on('click', function () {
            $(this).toggleClass('star-checked');
        });

        $('.ckbox label').on('click', function () {
            $(this).parents('tr').toggleClass('selected');
        });

        $('.btn-filter').on('click', function () {
            var $target = $(this).data('target');
            if ($target != 'all') {
                $('.table tr').css('display', 'none');
                $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
            } else {
                $('.table tr').css('display', 'none').fadeIn('slow');
            }
        });

    });

 </script>