 @model IEnumerable<Model.DataModel.Menu>

@{

    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h3>Modulo de Cliente (INDEX)</h3>
<h3>Bienvenido (nombre del cliente</h3>

<h3>Esta usando : Mesa </h3>
<h3>Cuenta actual: </h3>


<div>
    <button>Detalle de cuenta</button>
    <button>Ordenar</button>
    <button>Llamar la mesero</button>
    <button>Pagar</button>

</div>

